{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}

<div class="container view">
    <div class="row">
        <!-- DASHBOARD  -->
    {% block dashboard %}
        {% include 'dashboard.html' %}
    {% endblock %}
        <!-- DASHBOARD END -->
        <div class="col-md-10">
            <div class="row">
                <div class="col md-12">
                    <div class="jumbotron p-3">
                        <h2 class="define">Manage <b>Categories </b> <button type="button"
                                class="btn btn-info float-right" data-toggle="modal" data-target="#mymodal">Add
                                Category</button> </h2>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}

                        <div class="alert alert-success alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">x</span>
                            </button>

                            {{message}}

                        </div>

                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <table class="table table-hover table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>

                            {% for row in category %}
                            <tr>
                                <td>{{row.id}}</td>
                                <td>{{row.name}}</td>
                                <td>
                                    <a href="/updatecategory/{{row.id}}" class="btn btn-warning btn-xs"
                                        data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                                    <a href="/deletecategory/{{row.id}}" class="btn btn-danger btn-xs"
                                        onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                                </td>
                            </tr>

                            <!-- Modal Edit Customer-->
                            <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Update Information</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{url_for('main.updatecategory')}}" method="POST">
                                                <div class="form-group">
                                                    <label>Category:</label>
                                                    <input type="hidden" name="id" value="{{row.id}}">
                                                    <input type="text" class="form-control" name="name"
                                                        value="{{row.name}}">
                                                    <select class="form-control" name="name">
                                                        <option value="{{row.name}}">Whiskey</option>
                                                        <option value="{{row.name}}">Gin</option>
                                                        <option value="{{row.name}}">Wine</option>
                                                        <option value="{{row.name}}">Vodka</option>
                                                        <option value="{{row.name}}">Brandy</option>
                                                        <option value="{{row.name}}">Vermouth</option>
                                                        <option value="{{row.name}}">Beer</option>
                                                        <option value="{{row.name}}">Vermouth</option>

                                                    </select>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </table>
                    </div>

                    <!-- Modal Add Customer-->

                    <div id="mymodal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add Category</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('main.insertcategory')}}" method="POST">
                                        <div class="form-group">
                                            <label>Category:</label>
                                            <input type="text" class="form-control" name="name"
                                                value="{{category.name}}" required="0">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Add Category</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}