
        <!-- DASHBOARD END -->
        <div class="col-md-2 dashboard">
            <h3>Dashboard</h3>
            <div class="dash">
                <a href="/product">
                    <div class="card thumbnail" style="width: 70%;height: 10vh;background-color: #A5DCED;">
                        <img src="{{ url_for('static', filename = 'images/btl2.png')}}" class="card-img-top"
                            alt="images">
                        <div class="card-body">
                            <h3 class="card-title">Products</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="dash">
                <a href="/category">
                    <div class="card thumbnail" style="width: 70%;height: 10vh;background-color: #A5DCED;">
                        <img src="{{ url_for('static', filename = 'images/bottle.png')}}" class="card-img-top"
                            alt="images">
                        <div class="card-body">
                            <h3 class="card-title">Category</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="dash">
                <a href="/supplier">
                    <div class="card thumbnail" style="width: 70%;height: 10vh;background-color: #A5DCED;">
                        <img src="{{ url_for('static', filename = 'images/lorry.png')}}" class="card-img-top" alt="images">
                        <div class="card-body">
                            <h3 class="card-title">Suppliers</h3>
                        </div>
                    </div>
                </a>
                </div>
            <div class="dash">
                <a href="/customer">
                    <div class="card thumbnail" style="width: 70%;height: 10vh;background-color: #A5DCED;">
                        <img src="{{ url_for('static', filename = 'images/customers.png')}}" class="card-img-top" alt="images">
                        <div class="card-body">
                            <h3 class="card-title">Customer</h3>
                        </div>
                    </div>
                </a>
                </div>
            <div class="dash">
                <a href="/orders">
                    <div class="card thumbnail" style="width: 70%;height: 10vh;background-color: #A5DCED;">
                        <img src="{{ url_for('static', filename = 'images/cart.png')}}" class="card-img-top" alt="images">
                        <div class="card-body">
                            <h3 class="card-title">Orders</h3>
                        </div>
                    </div>
                </a>
                </div>
            <div class="dash">
                <a href="">
                    <div class="card thumbnail" style="width: 70%;height: 10vh;background-color: #A5DCED;">
                        <img src="{{ url_for('static', filename = 'images/orders.png')}}">
                        <div class="card-body">
                            <h3 class="card-title">Reports</h3>
                        </div>
                    </div>
                </a>
                </div>
        </div>
        <!-- DASHBOARD END -->
        
